@media (max-width: 575px) {
	.d-xs-none {
		display: none;
	}

	.col-xs-12 {
		flex: 0 0 auto;
		width: 100%;
	}

	.text-xs-left {
		text-align: left !important;
	}

	.text-xs-center {
		text-align: center !important;
	}

	.px-xs-0 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.p-xs-3 {
		padding: 0.75rem !important;
	}

	.p-xs-2 {
		padding: 0.5rem !important;
	}

	.p-xs-1 {
		padding: 0.25rem !important;
	}

	.p-xs-0 {
		padding: 0 !important;
	}
}

