.col {
	@media (max-width: 575px) {
		&-xs-3 {
			flex: 0 0 auto;
			width: 25%;
		}

		&-xs-9 {
			flex: 0 0 auto;
			width: 75%;
		}

		&-xs-10 {
			flex: 0 0 auto;
			width: 83.33333333%;
		}

		&-xs-11 {
			flex: 0 0 auto;
			width: 91.66666667%;
		}

		&-xs-12 {
			flex: 0 0 auto;
			width: 100%;
		}
	}
}

