.col {
	@media (max-width: 575px) {
		&-xs-3 {
			flex: 0 0 auto !important;
			width: 25% !important;
		}

		&-xs-9 {
			flex: 0 0 auto !important;
			width: 75% !important;
		}

		&-xs-10 {
			flex: 0 0 auto !important;
			width: 83.33333333% !important;
		}

		&-xs-11 {
			flex: 0 0 auto !important;
			width: 91.66666667% !important;
		}

		&-xs-12 {
			flex: 0 0 auto !important;
			width: 100% !important;
		}
	}
}

