.btn {
	width: auto;
	&-clear {
		display: block !important;
		color: white !important;
		transition: $linkTransition !important;
		text-transform: uppercase !important;
		font-size: 12px !important;
		border: 1px solid white !important;
		text-align: center !important;
		padding: 0.6rem 1.5rem !important;
		position: relative !important;
		z-index: 1 !important;
	}

	&-primary {
		display: block !important;
		color: $altColor !important;
		transition: $linkTransition !important;
		text-transform: uppercase !important;
		font-size: 12px !important;
		border: 1px solid $primaryBtnColor !important;
		text-align: center !important;
		padding: 0.6rem 1.5rem !important;
		position: relative !important;
		margin: 0 auto !important;
		z-index: 1 !important;
		background-color: $primaryBtnColor !important;
	}

	&-secondary {
		display: block !important;
		color: $primaryBtnColor !important;
		transition: $linkTransition !important;
		text-transform: uppercase !important;
		font-size: 12px !important;
		border: 1px solid $primaryBtnColor !important;
		text-align: center !important;
		padding: 0.6rem 1.5rem !important;
		position: relative !important;
		margin: 0 auto !important;
		z-index: 1 !important;
		background-color: $altColor !important;
	}

	// &-primary:hover {
	// 	color: $secondaryColor;
	// 	background-color: $altColor;
	// 	border: 1px solid $secondaryColor;
	// }

	&-secondary:hover {
		color: $secondaryColor !important;
		background-color: $altColor !important;
		border: 1px solid $secondaryColor !important;
	}
}

