footer {
	background-color: $primaryColor;
	color: $altColor;

	& .row {
		padding: 2.8125rem 1.25rem 0.5rem 1.25rem;
		& a {
			color: $altColor;
			transition: $linkTransition;
			line-height: 2;
		}

		& a:hover {
			color: $secondaryColor;
		}

		& .col {
			& h4 {
				white-space: nowrap;
			}

			& ul {
				padding: 0;
			}
		}
	}
}

