.navigation {
	border-bottom: 1px solid rgb(211, 211, 211);
	a {
		color: #000;
	}

	&__logo {
		border-right: 1px solid rgb(211, 211, 211);
	}

	&__items {
		&__lang {
			font-size: 11px;
			padding: 8px 8px;
		}
		&__contact {
			border-bottom: 1px solid rgb(211, 211, 211);
			padding: 3px 0;

			&__item {
				font-size: 11px;
				padding: 1px 12px;
				border-right: 1px solid rgb(211, 211, 211);
				color: rgb(133, 133, 133) !important;
			}

			&__item:first-child {
				padding-left: 0;
			}

			&__item:last-child {
				border-right: none;
			}
		}

		&__links {
			&__col {
				overflow: hidden;
				border-right: 1px solid lightgray;
				& ul {
					// border-right: 1px solid rgb(211, 211, 211);
				}
				& li {
					padding: 0 2rem 0 0;
					text-transform: uppercase;
				}
			}
			&__info {
				a {
					text-transform: uppercase;
				}
			}
		}
	}

	&__cart-drop-down {
		width: 350px;
		height: 500px;
		background: $altColor;
		// border: 1px solid black;
		position: absolute;
		top: 5.15rem;
		right: 2rem;
		z-index: 1000;
		box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;

		&__close-btn {
			text-align: right;
			padding: 1rem 1rem 0.5rem 0;

			& button {
				background: none;
				border: none;
				margin: 0;
			}
		}

		&__checkout-btn-container {
			width: 100%;
			position: absolute;
			bottom: 0;
		}

		&__cart-items {
			overflow: scroll;
			max-height: 350px;
		}
	}
}

