.navigation {
	border-bottom: 1px solid rgb(211, 211, 211);
	a {
		color: #000;
	}

	&__logo {
		border-right: 1px solid rgb(211, 211, 211);
	}

	&__items {
		&__lang {
			font-size: 11px;
			padding: 8px 8px;
		}
		&__contact {
			border-bottom: 1px solid rgb(211, 211, 211);
			padding: 3px 0;

			&__item {
				font-size: 11px;
				padding: 1px 12px;
				border-right: 1px solid rgb(211, 211, 211);
				color: rgb(133, 133, 133) !important;
			}

			&__item:first-child {
				padding-left: 0;
			}

			&__item:last-child {
				border-right: none;
			}
		}

		&__links {
			&__col {
				overflow: hidden;
				& ul {
					border-right: 1px solid rgb(211, 211, 211);
				}
				& li {
					padding: 0 2rem 0 0;
					text-transform: uppercase;
				}
			}
			&__info {
				a {
					text-transform: uppercase;
				}
			}
		}
	}
}

