.testimonials {
	&__wrapper {
		padding: 10rem 0;
	}
	&__slider {
		@media (min-width: 575px) {
			padding: 0 2rem;
		}

		& .slick-next:before,
		& .slick-prev:before {
			font-size: 30px;
			line-height: 1;
			opacity: 0.75;
			color: $secondaryColor;
		}

		& .slick-next:before:hover,
		& .slick-prev:before:hover {
			opacity: 1;
		}

		&__slide {
			&__quoteChar {
				font-size: 10rem;
				letter-spacing: 0;
				line-height: 0;
				font-family: $fontFamily;
			}

			&__quote {
				font-size: 2rem;
				font-family: $fontFamily;
			}

			&__customer {
				font-size: 12px;
				letter-spacing: $letterSpacing;
				text-transform: uppercase;
			}
		}
	}

	@media (max-width: 950px) {
		& .slick-next:before,
		& .slick-prev:before {
			display: none;
		}
	}
}

