@font-face {
	font-family: 'didot';
	src: url('../assets/GFS_Didot/GFSDidot-Regular.ttf') format('truetype');
}

$primaryColor: rgb(0, 0, 0);
$primaryBtnColor: rgba(0, 0, 0, 1);
$secondaryColor: rgb(197, 0, 0);
$altColor: rgb(255, 255, 255);
$fontFamily: didot;
$secondaryFontFamily: didot;
$linkTransition: ease 0.25s;
$letterSpacing: 6px;

html,
body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fontFamily;
}

a {
	text-decoration: none !important;
}

p {
	margin-bottom: 24px;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

